@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./1.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: azure;
    text-align: center;
}

h1.quote{
    font-size: 3rem;
    font-weight: normal;
}

h2{
    font-weight: normal;
}

button{
    padding: .1rem 1rem;
    font-size: 1rem;
    background-color: black;
    color: azure;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem;
    transition: all ease-in-out 500ms;
}

input, label{
    padding: .3rem 1rem;
    margin: 1rem 0rem;
    font-size: 1.1rem;
}

input{
    border-radius: 12px;
    border: none;
}

input:focus{
    outline: none;
}

button:hover{
    transform: scale(1.1);
}

.modal-container{
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

div a button.clc{
    font-size: 1.5rem;
    background-color: azure;
    color: black;
}

.modal{
    background-color: black;
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-direction: column;
    gap: 2rem;
}

.names span{
    text-transform: uppercase;
}

.controllers button{
    background-color: azure;
    color: black;
}

span{
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .modal{
        width: 90%;
    }
    div a button.clc{
        font-size: 1.1rem;
        background-color: black;
        color: azure;
    }
}

a{
    color: currentColor;
    text-decoration: none;
}